{% extends 'auth_layout.html' %}
{% load static %}
{% block auth %}
<div class="container emp-profile">
    <div class="row ">
                <h4 class="card-header">Edit your Profile</h4>
                <div class="card-body">
                    <form action="{%  url 'update-user' user.id%}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control  " name="username" id="name" placeholder="Votre Nom" value="{{ user.username }}">

                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control  " name="email" id="email" placeholder="Votre E-Mail" value="{{ user.email }}">

                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control  @ " name="password" id="password" placeholder="Votre mot de passe" value="">

                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control   " name="confirm" id="confirm" placeholder="Confirmez votre mot de passe" value="">

                        </div>
                        <div class="form-group">

                        <p>Choisir une photo de profil</p>
                        <input type="file" name="file" />

                        </div>

                        <button type="submit" class="btn btn-primary" style="float: right !important">Submit !</button>
                    </form>
                </div>
    </div>
</div>

{% endblock %}